<!DOCTYPE html>
<html>
  <head>
    <title>Movie Library</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--%=# javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %-->

    <link rel="stylesheet" href="/styles/index.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body style="background-color:#E6E6FA;">
    <nav>
      <% if !@current_user %>
        <%= link_to "Log In", login_path, :class => "btn btn-primary" %>
        <%= link_to 'Sign Up', signup_path, :class => "btn btn-primary" %>
      <% else %>
        <%= link_to "All Movies", movies_path %>
        <%= link_to "Add a Movie", new_movie_path %>
        <%= link_to "All Comments", movie_logs_path %>
        <%= link_to "Add a New Comment", new_movie_log_path %>
        <%= link_to 'Log Out', '/sessions/', method: "delete" %>
      <% end %>
    </nav>
        
    <!-- content -->
    <div class="container"  role="main">
      <% if flash[:notice] %>
        <%= flash[:notice] %>
      <% end %>

    <%= yield %>

    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
    
  </body>
</html>
  